<div class="container" *ngIf="posts">
    <h1>Home</h1>

    <ng-container *ngFor="let p of posts; let i = index">
        <div class="post" [id]="'post' + i">
            <h2>{{p.title | uppercase }}</h2>
            <p><strong>User {{p.userId}} Posted: </strong> {{p.body }}</p>
            <p>
               <button [ngClass]="p.toggle ? 'hide': ''" (click)="getComments(i, p.id); p.toggle = !p.toggle">{{p.toggle ? 'Hide Comments' : 'View Comments'}}</button>
            </p>
            <div *ngIf="p.comments && p.toggle">
             <ul class="comments">
                 <li *ngFor="let comment of p.comments">
                     <label>{{comment.email}}</label>
                     <p>{{comment.body}}</p>
                 </li>
               </ul>
            </div>
        </div>
    </ng-container>
    <br/>
</div>
