<div class="container" *ngIf="posts">
    <h1>Post</h1>

    <section class="post" *ngFor="let p of posts; let i = index">
       <h2>{{p.title | uppercase }}</h2>
       <p><strong>User {{p.userId}} Posted: </strong> {{p.body }}</p>
       <p>
          <button (click)="getComments(i, p.id)">View Comments</button>
       </p>
       <div *ngIf="p.comments">
        <ul class="comments">
            <li *ngFor="let comment of p.comments">
                <label>{{comment.email}}</label>
                <p>{{comment.body}}</p>
            </li>
          </ul>
       </div>
    </section>
    <br/>
</div>
