/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap');

//   $primary: rgb(2, 248, 84);
  $primary: rgb(2, 178, 248);
  $textshadow: 3px 0px 10px rgba(63, 63, 63, 0.952);
  $boxshadow: 2px -3px 10px rgba(63, 63, 63, 0.952);

body {
    font-family: 'Nunito' !important;
    font-weight: normal !important;
    font-style: normal !important;
    margin: 0 !important;
    font-size: 18px !important;
    background-color: rgb(36, 36, 36) !important;
}

.container {
    width: 80%;
    margin: 0 auto;
    h1 {
        font-size: 3em;
        font-weight: 700 !important;
        text-align: center;
        color: white;
    }
}

.post {
   transition: all ease-in 200ms;
   border: 1px solid $primary ;
   padding: 2% 3%;
   color: white;
   &:hover {
      background-color: lighten(rgb(36, 36, 36), 3%);
   }

   h2 {
       color: $primary;
       font-weight: 700;
   }
}

.comments {
    margin-left: 1%;
    list-style: none;
    li {
        margin-top: 5px;
        padding: 10px 20px;
        border: 1px solid $primary;
        border-radius: 25px 25px;
        label {
            font-weight: 700;
        }
    }
}

button {
    outline: none !important;
    transition: all ease-in 0.3s;
    border: none;
    padding: 10px 25px;
    background-color: $primary;
    font-weight: 700;
    color: white;
    border-radius: 25px 25px !important;
    cursor: pointer;
    &:hover {
        background-color: darken($primary, 15%);
    }
}